@using Lab2.Presentation.HockeyLeague.Components
@inherits TestContext

@code {

    [Fact]
    public void NameLabelDisplayCorrectText()
    {
        //arr
        using var ctx = new TestContext();
        var cut = ctx.RenderComponent<PlayerForm>();

        //act

        cut.Find("label:first-child").MarkupMatches("<label>Name</label>");
    }
    [Fact]
    public void JerseyLabelDisplayCorrectText()
    {
        //arr
        using var ctx = new TestContext();
        var cut = ctx.RenderComponent<PlayerForm>();

        //act

        cut.FindAll("label")[1].MarkupMatches("<label>Jersey</label>");
    }
    [Fact]
    public void ButtonDisplayCorrectText()
    {
        //arr
        using var ctx = new TestContext();
        var cut = ctx.RenderComponent<PlayerForm>();

        //act

        cut.Find("button").MarkupMatches(@<button class="btn btn-primary" type="submit">Add</button>);
    }


}