@using Lab2.Presentation.HockeyLeague.Components
@using Lab2.Domain.HockeyLeague.Entities
@using Lab2.Domain.Core.ValueObjects
@using Lab2.Domain.Core.Helpers;

@inherits TestContext

@code {


    [Fact]
    public void NameThDisplayCorrectText()
    {
        //arr

        RequiredString name = RequiredString.TryCreate("Monoloko").Success();
        Team team = new Team(name);

        using var ctx = new TestContext();
        var cut = ctx.RenderComponent<TeamRoster>(parameters => parameters.Add(p => p.Team, team));


        //act

        cut.Find("th:first-child").MarkupMatches("<th>Player name</th>");
    }

    [Fact]
    public void RemoveThDisplayCorrectText()
    {
        RequiredString name = RequiredString.TryCreate("Monoloko").Success();
        Team team = new Team(name);

        using var ctx = new TestContext();
        var cut = ctx.RenderComponent<TeamRoster>(parameters => parameters.Add(p => p.Team, team));

        //act

        cut.Find("th:last-child").MarkupMatches("<th>Remove player</th>");
    }

}