@using Lab2.Presentation.Core.Components
@inherits TestContext

@code {
 [Fact]
 public void ComponentShouldHideContentWhenLoading(){
    // act
    // cut = component under test
    var cut = Render(@<Loading IsLoading="true">Test</Loading>);
    // assert
    cut.Markup.Should().NotContain("Test");
}

[Fact]
public void ComponentShouldLoadContentWhenNotLoading(){
    // act
    // cut = component under test
    var cut = Render(@<Loading IsLoading="false">Test</Loading>);
    // assert
    cut.Markup.Should().Contain("Test");
}

[Fact]
public void ComponentShouldHideWhenLoadingOnReRender(){
    // act
    // cut = component under test
    var cut = Render<Loading>(@<Loading IsLoading="false">Test</Loading>);
    // change state
    cut.Instance.IsLoading = true;
    // rerender component
    cut.Render();
    // assert
    cut.Markup.Should().NotContain("Test");
}
}